.bg-gradient{
    background-image: linear-gradient(#C91A0E, #B7180D);
    height: 15rem;
}

 @keyframes paper {
    0%   {transform: translateY(0)}
    25%  {transform: translateY(-5px)}
    75%  {transform: translateY(5px)}
    100% {transform: translateY(0)}
  }
  .paperAnimate {
    animation: paper 4s linear infinite;
  }
  @keyframes shadow {
    0%   {transform: translateY(0)}
    25%  {transform: translateY(2px)}
    75%  {transform: translateY(-2px)}
    100% {transform: translateY(0)}
  }
  .shadowAnimate {
    animation: shadow 4s linear infinite;
  }

  .gif{
      margin: 0 auto;
      padding-top: 10px;
      width: 50%;
      height: 50%;
  }

  ion-card{
      background-color: #FFFFFF !important;
  }