<ion-header>
  <ion-toolbar color="main">
    <ion-title>
      {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col text-right>
          <ion-button class="btn-circle" color="main" (click)="presentModalCalc()">
              <ion-icon src="assets/calc.svg"></ion-icon>
            </ion-button>
      </ion-col>
      <ion-col text-left>
          <ion-button class="btn-circle" color="main" (click)="presentModalTell()">
              <ion-icon src="assets/tel.svg"></ion-icon>
            </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card no-margin [style.boxShadow]='"unset"' >
      <ion-card-header>
        <ion-card-title>Veja nosso último episódio:</ion-card-title>
      </ion-card-header>
      <iframe width="100%" height="100%" [src]="sanitizerResources(videoEmbed)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-card-content>
        <ion-card-subtitle>O que é o Processando Direito?</ion-card-subtitle>
        Processando Direito é um podcast do curso de Direito da UniFTC que tem como principal função a de traduzir o juridiquês em um bom português para a sociedade de forma descontraída e interessante. O nosso objetivo é levar o Direito para além dos limites do curso.
      </ion-card-content>
    </ion-card>
</ion-content>
