<ion-header>
    <ion-toolbar color="main">
      <ion-title>
          {{name}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>
            <h2>GERÊNCIA FINANCEIRA</h2>
            <p>Tel.: <a href="tel:(77)3422-8844">(77)3422-8844</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>ASS. DE IMPRENSA</h2>
              <p>Tel.: <a href="tel:(77)3422-8801">(77)3422-8801</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>BIBLIOTECA</h2>
              <p>Tel.: <a href="tel:(77)3422-8808">(77)3422-8808</a> | <a href="tel:(77)3422-8827">(77)3422-8827</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>CAA</h2>
              <p>Tel.: <a href="tel:(77)3422-8825">(77)3422-8825</a> | <a href="tel:(77)3422-8819">(77)3422-8819</a> | <a href="tel:(77)3422-8841">(77)3422-8841</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>CAD</h2>
              <p>Tel.: <a href="tel:(77)3422-8816">(77)3422-8816</a> | <a href="tel:(77)3422-8814">(77)3422-8814</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>PÓS-GRADUAÇÃO</h2>
              <p>Tel.: <a href="tel:(77)3422-8810">(77)3422-8810</a> | <a href="tel:(77)3422-8836">(77)3422-8836</a> | <a href="tel:(77)3422-8804">(77)3422-8804</a></p>              
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>CPA</h2>
              <p>Tel.: <a href="tel:(77)3422-8839">(77)3422-8839</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>DIRETORIA / RECEPÇÃO</h2>
              <p>Tel.: <a href="tel:(77)3422-8834">(77)3422-8834</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>ASSESSORIA PEDAGÓGICA</h2>
              <p>Tel.: <a href="tel:(77)3422-8842">(77)3422-8842</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>TI</h2>
              <p>Tel.: <a href="tel:(77)3422-8832">(77)3422-8832</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>DIRETORIA GERAL</h2>
              <p>Tel.: <a href="tel:(77)3422-8806">(77)3422-8806</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>FINANCEIRO</h2>
              <p>Tel.: <a href="tel:(77)3422-8830">(77)3422-8830</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>GERLAB</h2>
              <p>Tel.: <a href="tel:(77)3422-8805">(77)3422-8805</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>JURÍDICO</h2>
              <p>Tel.: <a href="tel:(77)3422-8803">(77)3422-8803</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>MARKETING</h2>
              <p>Tel.: <a href="tel:(77)3422-8821">(77)3422-8821</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>NAAC</h2>
              <p>Tel.: <a href="tel:(77)3422-8837">(77)3422-8837</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>OUVIDORIA</h2>
              <p>Tel.: <a href="tel:(77)3422-8809">(77)3422-8809</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>PREFEITURA DE CAMPOS</h2>
              <p>Tel.: <a href="tel:(77)3422-8835">(77)3422-8835</a> | <a href="tel:(77)3422-8843">(77)3422-8843</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>RH</h2>
              <p>Tel.: <a href="tel:(77)3422-8844">(77)3422-8818</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>SECRETARIA ACADÊMICA</h2>
              <p>Tel.: <a href="tel:(77)3422-8817">(77)3422-8817</a> | <a href="tel:(77)3422-8833">(77)3422-8833</a> | <a href="tel:(77)3422-8802">(77)3422-8802</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE ADMINISTRAÇÃO</h2>
              <p>Tel.: <a href="tel:(77)3422-8826">(77)3422-8826</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE DIREITO</h2>
              <p>Tel.: <a href="tel:(77)3422-8824">(77)3422-8824</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE EDUCAÇÃO FÍSICA</h2>
              <p>Tel.: <a href="tel:(77)3422-8829">(77)3422-8829</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE ENFERMAGEM</h2>
              <p>Tel.: <a href="tel:(77)3422-8813">(77)3422-8813</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE ENGENHARIA CIVIL</h2>
              <p>Tel.: <a href="tel:(77)3422-8807">(77)3422-8807</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE FISIOTERAPIA</h2>
              <p>Tel.: <a href="tel:(77)3422-8848">(77)3422-8848</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE NUTRIÇÃO</h2>
              <p>Tel.: <a href="tel:(77)3422-8847">(77)3422-8847</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE PSICOLOGIA</h2>
              <p>Tel.: <a href="tel:(77)3422-8846">(77)3422-8846</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE PUBLICIDADE</h2>
              <p>Tel.: <a href="tel:(77)3422-8811">(77)3422-8811</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>COLEGIADO DE SISTEMAS DE INFORMAÇÃO</h2>
              <p>Tel.: <a href="tel:(77)3422-8845">(77)3422-8845</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>PORTARIA</h2>
              <p>Tel.: <a href="tel:(77)3422-8831">(77)3422-8831</a></p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <h2>TELEFONISTA</h2>
              <p>Tel.: <a href="tel:(77)3422-8800">(77)3422-8800</a></p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
